* {
    margin: 0;
    box-sizing: border-box;
}

section {
    max-width: 1168px;
    margin: 0 auto;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 600px;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: center;
    margin: 80px 0;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 600px;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;   
}
.main-picture {
    width: 100%;
    margin-bottom: 60px;
}

.description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.description p{
    display: flex;
    justify-content: space-between;
    width: 45%;
    background-color: aliceblue;
    font-family: 'Roboto' sans-serif;
    font-size: 20px;
    font-weight: 400px;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin: 50px;   
}
.form-container {
    background-color: rgb(182, 139, 223);
    padding: 40px 50px;
    border-radius: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.form-container > * {
    width: 50%;
}

.form {
    width: 400px;
}
.btn {
    background-color: rgb(182, 139, 223);
    padding: 40px 50px;
    border-radius: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.form-field {
    width: 100%;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400px;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    border: 0;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.form-button {
    border: 0;
    border-radius: 10px;
    background-color: chocolate; 
    color: white;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400px;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    border: 0;
    border-radius: 10px;
    padding: 10px 50px;
    cursor: pointer;
    margin-top: 20px;
} */